body {
    background-image: url("https://dl.dropbox.com/s/4ubs90vu8bn5zq2/image.gif");
}

.wish {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 4%;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: red;
    letter-spacing: 0.1em;
    font-family: 'Pacifico', cursive;
    background: -webkit-linear-gradient(#ffff00, #ff1493);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 3s infinite ease-in-out;
}

@-webkit-keyframes hue {
    0% {
        -webkit-filter: hue-rotate(0deg);
        transform: scale(1) rotate(0deg);
    }

    50% {
        -webkit-filter: hue-rotate(360deg);
        transform: scale(1.2) rotate(5deg);
    }
}

.cake {
    position: absolute;
    width: 250px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -125px;
}

.plate {
    position: absolute;
    width: 290px;
    height: 130px;
    bottom: -10px;
    left: -15px;
    background-color: #ccc;
    border-radius: 25%;
    box-shadow: 0 5px 0 0 #000;
}

.cake>* {
    position: absolute;
}

.layer {
    position: absolute;
    display: block;
    width: 250px;
    height: 100px;
    border-radius: 25%;
    background-color: #2a0a0a;
    border: 3px solid #fff;
    box-shadow:
        0 15px 0 0 #2a0a0a,
        0 30px 0 0 #2a0a0a,
        0 33px 0 0 #fff,
        0 45px 0 0 #2a0a0a,
        0 60px 0 0 #2a0a0a,
        0 63px 0 0 #fff,
        0 75px 0 0 #2a0a0a,
        0 90px 0 0 #2a0a0a;
}

.icing {
    top: 3px;
    left: 3px;
    background-color: #fff;
    border: 5px dotted #2a0a0a;
    width: 240px;
    height: 90px;
    border-radius: 25%;
}

.name {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: #2a0a0a;
    font-family: 'Pacifico', cursive;
}

.candle1 {
    z-index: 10;
    width: 10px;
    height: 50px;
    background-color: #fe2e2e;
    border-radius: 4px;
    top: -25px;
    left: 50%;
    margin-left: -8px;
}

.flame1 {
    border-bottom-left-radius: 45% 35%;
    border-bottom-right-radius: 45% 35%;
    box-shadow: 0 -15px 2px 2px #ffc205;
    background-color: yellow;
    border-radius: 50%;
    height: 30px;
    width: 5px;
    top: -30px;
    left: 30%;
    position: absolute;
}

.candle2 {
    z-index: 10;
    width: 10px;
    height: 50px;
    background-color: #fe2e2e;
    border-radius: 4px;
    top: -25px;
    left: 80%;
    margin-left: -8px;
}

.flame2 {
    border-bottom-left-radius: 45% 35%;
    border-bottom-right-radius: 45% 35%;
    box-shadow: 0 -15px 2px 2px #ffc205;
    background-color: yellow;
    border-radius: 50%;
    height: 30px;
    width: 5px;
    top: -30px;
    left: 30%;
    position: absolute;
}

.candle3 {
    z-index: 10;
    width: 10px;
    height: 50px;
    background-color: #fe2e2e;
    border-radius: 4px;
    top: -25px;
    left: 20%;
    margin-left: -8px;
}

.flame3 {
    border-bottom-left-radius: 45% 35%;
    border-bottom-right-radius: 45% 35%;
    box-shadow: 0 -15px 2px 2px #ffc205;
    background-color: yellow;
    border-radius: 50%;
    height: 30px;
    width: 5px;
    top: -30px;
    left: 30%;
    position: absolute;
}

.candle4 {
    z-index: 10;
    width: 10px;
    height: 50px;
    background-color: #fe2e2e;
    border-radius: 4px;
    top: 15px;
    left: 15%;
    margin-left: -8px;
}

.flame4 {
    border-bottom-left-radius: 45% 35%;
    border-bottom-right-radius: 45% 35%;
    box-shadow: 0 -15px 2px 2px #ffc205;
    background-color: yellow;
    border-radius: 50%;
    height: 30px;
    width: 5px;
    top: -30px;
    left: 30%;
    position: absolute;
}

.candle5 {
    z-index: 10;
    width: 10px;
    height: 50px;
    background-color: #fe2e2e;
    border-radius: 4px;
    top: 15px;
    left: 85%;
    margin-left: -8px;
}

.flame5 {
    border-bottom-left-radius: 45% 35%;
    border-bottom-right-radius: 45% 35%;
    box-shadow: 0 -15px 2px 2px #ffc205;
    background-color: yellow;
    border-radius: 50%;
    height: 30px;
    width: 5px;
    top: -30px;
    left: 30%;
    position: absolute;
}

.text {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: white;
    font-family: 'Pacifico', cursive;
}
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
body {
    background-image: url("https://dl.dropbox.com/s/4ubs90vu8bn5zq2/image.gif");
}
 
.wish {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 4%;
    width: 100%;
    text-align: center;
    font-size: 3em;
    color: red;
    letter-spacing: 0.1em;
    font-family: 'Pacifico', cursive;
    background: -webkit-linear-gradient(#ffff00, #ff1493);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 3s infinite ease-in-out;
}
 
@-webkit-keyframes hue {
    0% {
        -webkit-filter: hue-rotate(0deg);
        transform: scale(1) rotate(0deg);
    }
 
    50% {
        -webkit-filter: hue-rotate(360deg);
        transform: scale(1.2) rotate(5deg);
    }
}
 
.cake {
    position: absolute;
    width: 250px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -70px;
    margin-left: -125px;
}
 
.plate {
    position: absolute;
    width: 290px;
    height: 130px;
    bottom: -10px;
    left: -15px;
    background-color: #ccc;
    border-radius: 25%;
    box-shadow: 0 5px 0 0 #000;
}
 
.cake>* {
    position: absolute;
}
 
.layer {
    position: absolute;
    display: block;
    width: 250px;
    height: 100px;
    border-radius: 25%;
    background-color: #2a0a0a;
    border: 3px solid #fff;
    box-shadow:
        0 15px 0 0 #2a0a0a,
        0 30px 0 0 #2a0a0a,
        0 33px 0 0 #fff,
        0 45px 0 0 #2a0a0a,
        0 60px 0 0 #2a0a0a,
        0 63px 0 0 #fff,
        0 75px 0 0 #2a0a0a,
        0 90px 0 0 #2a0a0a;
}
 
.icing {
    top: 3px;
    left: 3px;
    background-color: #fff;
    border: 5px dotted #2a0a0a;
    width: 240px;
    height: 90px;
    border-radius: 25%;
}
 
.name {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: #2a0a0a;
    font-family: 'Pacifico', cursive;
}
 
.candle1 {
    z-index: 10;
    width: 10px;
    height: 50px;
    background-color: #fe2e2e;
    border-radius: 4px;
    top: -25px;
    left: 50%;
    margin-left: -8px;
}
 
.flame1 {
    border-bottom-left-radius: 45% 35%;
    border-bottom-right-radius: 45% 35%;
    box-shadow: 0 -15px 2px 2px #ffc205;
    background-color: yellow;
    border-radius: 50%;
    height: 30px;
    width: 5px;
    top: -30px;
    left: 30%;
    position: absolute;
}
 
.candle2 {
    z-index: 10;
    width: 10px;
    height: 50px;
    background-color: #fe2e2e;
    border-radius: 4px;
    top: -25px;
    left: 80%;
    margin-left: -8px;
}
 
.flame2 {
    border-bottom-left-radius: 45% 35%;
    border-bottom-right-radius: 45% 35%;
    box-shadow: 0 -15px 2px 2px #ffc205;
    background-color: yellow;
    border-radius: 50%;
    height: 30px;
    width: 5px;
    top: -30px;
    left: 30%;
    position: absolute;
}
 
.candle3 {
    z-index: 10;
    width: 10px;
    height: 50px;
    background-color: #fe2e2e;
    border-radius: 4px;
    top: -25px;
    left: 20%;
    margin-left: -8px;
}
 
.flame3 {
    border-bottom-left-radius: 45% 35%;
    border-bottom-right-radius: 45% 35%;
    box-shadow: 0 -15px 2px 2px #ffc205;
    background-color: yellow;
    border-radius: 50%;
    height: 30px;
    width: 5px;
    top: -30px;
    left: 30%;
    position: absolute;
}
 
.candle4 {
    z-index: 10;
    width: 10px;
    height: 50px;
    background-color: #fe2e2e;
    border-radius: 4px;
    top: 15px;
    left: 15%;
    margin-left: -8px;
}
 
.flame4 {
    border-bottom-left-radius: 45% 35%;
    border-bottom-right-radius: 45% 35%;
    box-shadow: 0 -15px 2px 2px #ffc205;
    background-color: yellow;
    border-radius: 50%;
    height: 30px;
    width: 5px;
    top: -30px;
    left: 30%;
    position: absolute;
}
 
.candle5 {
    z-index: 10;
    width: 10px;
    height: 50px;
    background-color: #fe2e2e;
    border-radius: 4px;
    top: 15px;
    left: 85%;
    margin-left: -8px;
}
 
.flame5 {
    border-bottom-left-radius: 45% 35%;
    border-bottom-right-radius: 45% 35%;
    box-shadow: 0 -15px 2px 2px #ffc205;
    background-color: yellow;
    border-radius: 50%;
    height: 30px;
    width: 5px;
    top: -30px;
    left: 30%;
    position: absolute;
}
 
.text {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 80%;
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: white;
    font-family: 'Pacifico', cursive;
}